
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}


#mediapic {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	float: right;
}


img[alt*="social"] {
	width: 20px;
	height: 20px;
	/*border: 1px solid white;*/
	border-radius: 5%;
	display: block;
	float: left;
	margin-right: 10px;
}

.media {
	margin-top: 80px;
	height: 100vh;
}
p, h5 {
	margin-top: 30px;
	text-align: left;
}

h5 {
	margin-top: 80px;
}

.jumbotron h1 {
	margin-top: 100px;
	color: #f2f2f2;
	padding: 100px;
}



.clear:after {
	content: " ";
	clear: both;
	display: block;
}



.navbar {
	background-color: black;
}

.footer {
	background-color: black;
}

.container {
	width: 900px;
	background-color: white;
}



a:hover {
	text-decoration: none;	
	color: grey;
}





